@charset "UTF-8";
@import url("normalize.css");
:root {
--color-texte-general:#000000;
--couleur-entete:blue;
}
@font-face {
    font-family:'Welcome Darling'; 
    src: url(WelcomeDarling.otf) format('opentype');
}

/* Styles généraux */
h1, .titre-contenu {
    font-family: 'Welcome Darling', cursive;
   font-variant: small-caps; 

   
    color: var(--color-texte-general);
}
/*header*/
.entete {
    background-color: var(--couleur-entete);
    padding: 20px;
    text-align: center;
}
.tags {
    display: flex;
    flex-direction: row;
    
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}
.contenu{
    width: 100%;
    margin: 20px auto;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.lignedutemps {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
justify-content: flex-start;

   
 position: relative;
    width: 2px;
    background-color: var(--couleur-entete);

}
section {
    display: flex;
    flex-direction: row;
align-items: center;
justify-content: space-around;
  width: 20vw;
  height: auto;
    margin: 20px 0;
  gap: 20px;
  
   
}



.contenu-point {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 20px;
    background-color: var(--couleur-entete);
    border-radius: 10%;
    color: white;
}

.conteneur{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    width: 500px;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 10px;    

}




.pied-de-page {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--couleur-entete);
    padding: 20px;
    text-align: center;
    color: white;
}

.pop-over_informatif {
  display: flex;
flex-direction: column;
justify-self: center;
    width: 40%;
  height: auto;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
 
}
.pop-over_projet > p{ 

border-radius:50px;
width: 50px;
align-content: center;
display: flex;
justify-content: center;
align-items: center;
height:auto;
border: 1px solid var(--couleur-entete);
background-color: rgba(255,255,255,0.85);
}   

dialog{

    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.conteneur-10{
 background:  repeating-linear-gradient( rgba(14, 109, 125, 0.7), rgb(241, 207, 104) 10px);
 border: 2px solid;
 border-image: linear-gradient(rgba(241, 207, 104), rgba(14, 109, 125, 0.7)) 1;
}